.main {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input {
  border: 5px solid;
  border-radius: 5px;
}

.input-focus:focus {
  border: solid rgb(106, 106, 239);
  outline: none;
}

.input-error {
  border-color: rgb(255, 66, 66);
}

.input-valid:valid {
  border-color: rgb(134, 249, 142);
}

.input-valid:invalid + span::before {
  content: "this form is invalid";
}
